{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--<!DOCTYPE html>-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Shopping Cart Checkout Widget</title>
  <link rel="stylesheet" href="{% static 'cr/css/style.css' %}">

</head>
<body>
  <div class="cart">
    <div class="cart-top">
      <h2 class="cart-top-title">Checkout</h2>
      <div class="cart-top-info">3 items</div>
    </div>
{% for i in ci %}
    <ul>
      <li class="cart-item">
        <span class="cart-item-pic">
          <img src="{{i.prodt.img.url}}"alt="{{i.prodt.name}}"style="height: 100px;width:100px"/>
        </span>
        Item #1
        <span>{{i.prodt.name}}</span>
        <span class="cart-item-desc">Id:{{i.prodt.id}}</span>
        <span class="cart-item-price">Price:{{i.prodt.price}}</span>
        <p>Qty{{i.quan}}</p>
      </li>
    </ul>


    <div class="total-price">${{t}}</div>
    {% endfor %}
</body>
</html>
{% endblock %}